h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    line-height: 40px;
}
section{
    height: 100vh;
    margin-bottom: 80px;
}
.name-highlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.half-width img{

        width: 465px;
        height: 613px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;    
}

.new-line
{
    display: block;
}
.about-me{
    color: royalblue;
}
.secndhalf-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.secndhalf-width img{
    width: 476.26px;
    height: 583.51px;
}

.about-me{
    margin-top: 200px;
}



.triple-width
{
    width: 27%;
    float: left;
    margin-left: 3%;
    padding: 1%;

}


.triple-width img{
    width: 100%;
}

.latest-work h4{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.work-inquiry{
    height: 150px;
    width: 650px;
    background-image: url("images/Group_33094_1.png");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 25%;
    
}
.work-inquiry img{
    width: 100%;
}


.work-inquiry h2{
    float: left;
    margin-top: 70px;
    margin-left: 20px;
}

.work-inquiry a{
    float: right;
    margin-top:65px;
    margin-right: 30px;
}

.contact h4{
    text-align: center;
}
.contact h2{
    text-align: center;
}

.secndhalf-width img {
    height: 500px;
}

.half-width img{
    height: 500px;
}


.our-clients div{
    /* border: 1px solid black; */
    box-shadow: 5px 5px 10px #000000;
}